# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
agent_py310/

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database
*.sqlite3
*.db

# Chroma / Vector DB
chroma_db/

# BM25 cache
bm25_db/

# Logs
*.log

# Temporary
tmp/
temp/

# Model weights
models/
*.safetensors
*.bin

# Python wheel
*.whl

# pip cache
.pip/
pip-wheel-metadata/

# backup env
agent_py310_backup/

# cache
.cache/
